.container{
    padding: 10px;
}

body{
    background-color: black;
    color: aliceblue;
    margin: 0px;
    min-height: 100%;
}

a {
    text-decoration: none;
}

/*navigation bar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(47, 47, 56);
    color: #fff;
    width: 100%;
}

.nav-links {
    width: 70%;
}

.nav-links a {
    color: gray;
    font-size: 20px;
    padding: 10px;
}

.navbar div#logo {
    height: 50px;
    width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 1px solid white;
}

.navbar div#logo img{
    width: 50%;
    padding-left: 20px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 2em;
    font-size: 18px;
    margin-right: 20px;
}

input[type=checkbox] {
    display: none;
}

.menu a:hover {
    color: white;
    border-bottom: 1px solid white;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 35px;
    user-select: none;
    padding-right: 20px;
    text-align: end;
}


/*Header*/
.header {
    color: aliceblue;
    background-image: linear-gradient(rgba(31, 28, 28, 0.864), rgba(255, 255, 255, 0)), url('../img/Wallpaper/sebastiaan-stam-5hBREM-5mnQ-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    padding: 10px;
    padding-left: 75px;
}

.header div#intro h1{
    font-size: 80px;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 0px;
}

.header div#intro h2{
    font-size: 25px;
}

/*content*/
.content {
    display: flex;
    flex-wrap: nowrap;
}

.content div#cont_left{
    text-align: center;
    width: 50%;
}

.content div#cont_left img{
    width: 35%;
    border-radius: 20%;
}

.content div#cont_left h2{
    font-size: 20px;
}

.content div#cont_left p{
    text-align: left;
    padding-left: 31%;
    width: 40%;
}

.content div#cont_right{
    width: 50%;
}

.content div#cont_right img{
    width: 4%;
}

.content div#cont_right div#language img{
    position: relative;
    top: 10px;
}

.content div#cont_right div#language label{
    padding-right: 10px;
    padding-left: 5px;
}

.content div#cont_right div#skills img{
    position: relative;
    top: 10px;
}

.content div#cont_right div#skills label{
    padding-right: 10px;
    padding-left: 5px;
}

.content div#cont_right h2{
    width: 10%;
    padding-top: 30px;
    border-bottom: 1px solid white;
}
.content div#cont_right li{
    padding-top: 10px;
}

.content div#cont_right ul li img{
    padding-right: 10px;
    position: relative;
    top: 10px;
    width: 5%;
}

/*footer*/
.footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: rgb(47, 47, 56);
    padding-top: 60px;
    padding-left: 150px;
    padding-bottom: 10px;
    margin-top: 50px;
    border-bottom:1px solid white ;
}

.footer div#contact{
    margin-right: 10px;
}

.footer div#footer_logo{
    width: 40%;
    padding-top: 10px;
}

.footer div#footer_logo img{
    width: 20%;
}

.footer div#footer_logo p{
    width: 100%;
}

li{
    list-style: none;
}

.footer div#my_work ul li::before{
    content: "\00BB";
    padding-right: 10px;
}

.footer div#my_work {
    width: 42%;
}

.footer div#contact {
    width: 70%;
}

.footer div#contact img{
    height: 25px;
}

.footer div#contact ul li {
    list-style: none;
}

.footer div#contact ul li img{
    position: relative;
    top: 8px;
    height: 25px;
}


/*back top*/
.top {
    --offset: 50px;
    position: sticky;
    bottom: 20px;
    margin-right: 10px;
    place-self: end;
    width: 45px;
    aspect-ratio: 1;
    background: #34a234;
    border-radius: 10px;
}

.top:before {
    content: "";
    position: absolute;
    inset: 30%;
    transform: translateY(20%) rotate(-45deg);
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
}

ul{
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

/*responsive*/
@media (max-width: 837px) {
    .menu {
        display:none;
        background-color: rgb(47, 47, 56);
        text-align: right;
}

.menu a{
        color: gray;
        padding-right: 20px;
}

.menu a:hover {
    color: white;
}
    
.menu li:hover {
        display: inline-block;
        background-color:#4c9e9e;
        transition: 0.3s ease;
}
    
.menu li + li {
        margin-top: 12px;
}
    
input[type=checkbox]:checked ~ .menu {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
}
    
.hamburger {
        color: gray;
        display: block;
}
    
    .footer{
        flex-direction: column;
    }

    .footer div#footer_logo img{
        width: 30%;
    }

    .footer h3{
        font-size: 3vw;
    }

    .footer ul li{
        font-size: 2vw;
    }


    
    .footer h2{
        font-size: 4vw;
    }

    .content div#work_list div h3{
        font-size: 3vw;
    }

    .content div#work_list div p{
        font-size: 2vw;
    }

    .footer #footer_logo {
        width: 80%;
    }

    .footer div#my_work {
        width: 100%;
    }

    .footer div#contact {
        width: 100%;
    }




    
}

@media (max-width: 752px){
    .content div#cont_left p{
        padding-left: 15%;
        width: 70%;
    }

    .content div#cont_right h2{
        padding-top: 30px;
    }

    .content div#cont_right img{
        width: 5%;
    }

    .content div#cont_right ul li img{
        top: 4px;
        width: 8%;
    }

    .content div#cont_right div#language img{
        padding-left: 0px;
        top: 2px;
    }

    .content div#cont_right div#skills img{
        top: 4px;
        padding-left: 0px;
    }
}

@media (max-width: 497px) {
    .header{
        height: 200px;
        padding-left: 14px;
    }

    .header div#intro h1{
        font-size: 40px;
    }

    .header div#intro h2{
        font-size: 14px;
    }

    .content{
        flex-direction: column;
        width: 100%;
    }

    .content div#cont_left{
        text-align: center;
        margin: auto;
        width: 90%;
    }

    .content div#cont_left img{
        width: 35%;
    }

    .content div#cont_left p{
        padding-left: 5%;
        padding-top: 10px;
        width: 91%;
    }

    .content div#cont_right{
        text-align: center;
        margin: auto;
        width: 90%;
    }

    .content div#cont_right #education ul{
        padding-left: 0px;
        text-align: left;
    }

    .content div#cont_right ul li img{
        top: 5px;
        width: 7%;
    }

    .content div#cont_right{
        text-align: left;
        width: 85%;
    }

    .content div#cont_right img{
        width: 8%;
    }

    .content div#cont_right div#language img{
        top: 10px;
        padding-top: 10px;
        padding-left: 0px;
    }

    .content div#cont_right div#skills img{
        top: 12px;
        padding-left: 0px;
    }

    .footer{
        padding-left: 50px;
    }

    .footer #footer_logo {
        width: 80%;
    }

    .footer div#footer_logo img{
        width: 50%;
    }

    .footer div#my_work {
        width: 100%;
    }

    .footer div#contact {
        width: 100%;
    }

    .footer h2{
        font-size: 6vw;
    }

    .footer h3{
        font-size: 6vw;
        width: 160%;
    }

    .footer ul li{
        font-size: 4vw;
    }

    .footer h3{
        font-size: 6vw;
    }
}

@media (max-width: 365px){
    .content div#cont_right div#language img{
        top: 5px;
    }

    .content div#cont_right div#language label{
        padding-right: 50px;
    }

    .content div#cont_right div#skills img{
        top: 6px;
    }

    .content div#cont_right div#skills label{
        padding-right: 31px;
    }

}

@media (max-width: 291px) {
    .header{
        height: 200px;
        padding-left: 14px;
    }

    .header div#intro h1{
        font-size: 40px;
    }

    .header div#intro h2{
        font-size: 14px;
    }

    .content{
        flex-direction: column;
        width: 100%;
    }

    .content div#cont_left{
        text-align: center;
        margin: auto;
        width: 90%;
    }

    .content div#cont_left img{
        width: 35%;
    }

    .content div#cont_left p{
        padding-left: 5%;
        padding-top: 10px;
        width: 91%;
    }

    .content div#cont_right{
        text-align: center;
        margin: auto;
        width: 90%;
    }

    .content div#cont_right #education ul{
        padding-left: 0px;
        text-align: left;
    }

    .content div#cont_right ul li img{
        top: 4px;
        width: 10%;
    }

    .content div#cont_right{
        text-align: left;
        width: 85%;
    }

    .content div#cont_right img{
        width: 8%;
    }

    .content div#cont_right div#language img{
        top: 4px;
        padding-top: 10px;
        padding-left: 0px;
    }

    .content div#cont_right div#skills img{
        top: 4px;
        padding-left: 0px;
    }

    .footer{
        padding-left: 50px;
    }

    .footer #footer_logo {
        width: 80%;
    }

    .footer div#footer_logo img{
        width: 50%;
    }

    .footer div#my_work {
        width: 100%;
    }

    .footer div#contact {
        width: 100%;
    }

    .footer h2{
        font-size: 6vw;
    }

    .footer h3{
        font-size: 6vw;
        width: 160%;
    }

    .footer ul li{
        font-size: 4vw;
    }

    .footer h3{
        font-size: 6vw;
    }
}









